// Font families:
$main-font-family: 'Harmattan', sans-serif;
$titles-font-family: $main-font-family;
$body-font-family: $main-font-family;

// Font sizes: 
$font-size-base: 14px;
$font-size-small: $font-size-base - 3px;
$font-size-large: $font-size-base + 6px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base colors:
$color-white: #FFFFFF;
$color-vitamin-c: #FF9900;
$color-route-66: #424242;
$color-steady-grey:#E9E9E9;
$color-bc:#BCBCBC;
$color-gamebookers-blue:#3299BB;

// Components colors:
$main-text-color: $color-route-66;
$body-background-color: $color-steady-grey;

// Responsive variables:
$desktop-width: 1024px;
$tablet-width: 737px;
$phone-width: $tablet-width -1px;